<h1> Please provide site_owner_email and site_url values as query params in the url bar </h1>
<p> Here is an example</p>
<code>
  http://localhost:3000?site_owner_email=some@email.com&site_url=http://localhost:4200
</code>